<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, nulla
        asperiores dolorem quo cumque praesentium voluptate, totam amet qui
        veritatis, repellendus similique alias nisi delectus quis sed
        repudiandae temporibus necessitatibus.
      </p>

      <form action="" class="form-inline mt-5 mb-5">
        <div class="form-group col-md-5">
          <input
            type="text"
            class="form-control shadow-effect"
            placeholder="Your Name"
          />
        </div>
        <div class="form-group col-md-5">
          <input
            type="email"
            class="form-control shadow-effect"
            placeholder="Email"
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-info btn-block btn-theme">SUBSCRIBE</button>
        </div>
      </form>
    </div>
  </div>
</div>
