<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          class="card-img-top img-fluid"
          src="https://images.unsplash.com/photo-1646920411570-27c140513ac9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >View - 100,256</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 20, 2022</small
          >

          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2022 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
            adipisci repellendus nostrum ratione molestias quis. Culpa eaque
            reprehenderit nam, magnam consequuntur pariatur ex beatae, animi
            officiis in vel asperiores iste placeat aliquam veritatis, at nobis?
            Fugit, cumque laudantium consequatur aliquid dolorum amet
            voluptatibus modi excepturi, iusto vero quam alias incidunt? Lorem
            ipsum dolor, sit amet consectetur adipisicing elit. Labore nesciunt,
            laudantium fuga debitis delectus ad repellendus aliquid placeat,
            temporibus magni eveniet blanditiis est voluptatem omnis numquam
            quod tempora aut reprehenderit quasi sequi. Unde, iusto. Officia
            dolores vel ratione obcaecati vero, nam illum quam distinctio quidem
            necessitatibus blanditiis quod atque, placeat inventore saepe nemo?
            Voluptatibus pariatur quis doloremque, provident nam dolores
            distinctio, at repudiandae quaerat rem exercitationem recusandae
            dolorem atque ut fugiat odit suscipit alias voluptatum molestiae?
            Illo, aspernatur. Optio est culpa repellendus cupiditate magnam qui
            sequi iste natus quo ullam et, vitae, perspiciatis odio. Beatae
            praesentium iure ea fugit maxime.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
